:root {
  --gradient: linear-gradient(
    180deg,
    rgba(253, 1, 1, 0.747),
    rgba(7, 5, 4, 0.705)
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-image: var(--gradient);
}
.header h1 {
  width: 100%;
  font-weight: bold;
  font-size: 60px;
  color: white;
}
.progress-container {
  margin-top: 100px;
  margin-left: 13%;
  width: 950px;
}
progress {
  -webkit-transform-origin: 0 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform-origin: 0 100%;
  -moz-transform: rotate(90deg);
  -ms-transform-origin: 0 100%;
  -ms-transform: rotate(90deg);
  transform-origin: 0 100%;
  transform: rotate(90deg);
  margin-left: 63px;
}
.progress-header {
  padding: 0 0 7px 5px;
  font-weight: bold;
  font-size: 35px;
  width: 163px;
  background-color: rgba(128, 0, 0, 0.829);
  color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.384);
  border-width: 5px;
  border-radius: 20px;
}

.select-nav {
  width: 35%;
  margin: 0 auto 0 auto;
}
#food-name {
  width: 33.3%;
}
#food-type {
  width: 33.3%;
}
#food-surprise {
  width: 33.3%;
}

.button-container {
  width: 35%;
  border-style: solid;
  height: 200px;
  margin: 0 auto 100px auto;
}
/* food-buttons */
#buttons-food-name {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#buttons-food-name button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-food-type {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  display: none;
}
#buttons-food-type button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-food-surprise {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
#buttons-food-surprise button {
  margin: 70px auto 0 auto;
  width: 30%;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}
/* food-buttons */

/* drink-buttons */
#buttons-drink-name {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#buttons-drink-name button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-drink-type {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  display: none;
}
#buttons-drink-type button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-drink-surprise {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
#buttons-drink-surprise button {
  margin: 70px auto 0 auto;
  width: 30%;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}
/* drink-buttons */

/* movie-buttons */
#buttons-movie-genre {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#buttons-movie-genre button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-movie-year {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  display: none;
}
#buttons-movie-year button {
  margin: 10px 10px 10px;
  width: 20%;
  height: 25px;
  cursor: pointer;
}
#buttons-movie-surprise {
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
#buttons-movie-surprise button {
  margin: 70px auto 0 auto;
  width: 30%;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}
